@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
}

body {
  font-family: "Figtree", cursive;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
